* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    width: 80vw;
    margin: auto;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 16px 21px;
    background: #FF5959;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;

}

/* banner styles */

.banner-header {
    width: 100%;
    height: 80vh;
    background-image: url('../images/donation7.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-size: 100%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center
}

.banner-container {
    width: 826px;
}

.banner-title {
    color: #FFF;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}

.banner-description {
    color: #FFF;
    width: 692px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto 30px auto;
}



/* donate today styles */

.donate-container {
    margin-top: 130px;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.donate-description {
    width: 690px;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin: 20px auto 0 auto;
}

.donate-tk-container {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 50px;
    margin-bottom: 60px;

}

.donate-tk {
    width: 135px;
    height: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
    border: 2px solid #FAFAFA;
    background: #FAFAFA;
    border-radius: 5px;
    margin: 0 2px;
}

.donate-tk:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    width: 765px;
    margin: 10px auto 30px auto;
    color: #DADADA;
}


/* donate plan styles */



.donate-plan-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 130px;
}

.donate-plan {
    /* width: 360px;
    height: 352px; */
    padding: 63px 23px 54px 23px;
    width: 360px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.donate-plan-title {
    font-weight: 600;
    font-size: 24px;
    margin: 32px 0 16px 0;
    color: #121212;
}

.donate-plan-description {
    color: #707070;
}

.p-1 {
    background: #FFEEEE;
}

.p-2 {
    background: #FFF4D6;
}


/* contributes styles */

.contribute-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
    margin-bottom: 100px;
}

.contribute-left,
.contribute-right {
    width: 600px;
}

.contribute-title {
    padding-right: 60px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}


.contribute-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-right: 80px;
    margin: 20px auto 30px auto;
}

.contribute-container img {
    width: 500px;
    height: 488px;
}


/* subscribe styles */



.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF4D6;
    width: 809px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;

}

input {
    padding: 14px 17px;
    font-size: 20px;
    border: 0;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}

.btn-subscribe {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 14px 43px;
    background: #FF5959;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


/* footer styles */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 177px;
    background: #1E1E1E;
}


.footer-div h3 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    margin-bottom: 24px;
    text-align: center;
}


.footer-div small {
    font-size: 14px;
    text-align: center;
    color: #D9DBE1;
}